@import url((https://fonts.google.com/specimen/Barlow+Semi+Condensed));

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: hsl(237, 49%, 15%);
    font-family: [Barlow Semi Condensed];
    color: hsl(229, 25%, 31%);
    font-weight: 700;
}

body > div {
    border: 2px solid hsl(217, 16%, 45%);
    margin: 15px;
}

.score-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-radius: 8px;
}

.score-container > * {
    border-radius: 10px;
    font-size: 35px;
    color: hsl(229, 64%, 46%);
    background-color: #fff;
    flex: 1;
    height: 100px;
    width: 100px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icon-container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    padding: 80px 0;
}

.icon-container > * {
    /*border: 50px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background-color: #fff;
}

img {
    height: 220px;
    width: 220px;
}

.icon-container > *:hover {
    background-color:  lemonchiffon;
}

.rock {
border: 35px solid hsl(349, 71%, 52%)
}
.paper {
    border: 35px solid hsl(230, 89%, 62%)
}
.scissors {
    border: 35px solid hsl(39, 89%, 49%)
}

.restart {
    padding: 15px 30px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 15px;
}

.user-score, .computer-score {
    color: hsl(229, 25%, 31%)
}

